{% extends 'base.html.twig' %}
{% block title %}
    Gallery
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Gallery</h1>
        {% if gallery is defined %}
            <div class="gallery">
                {% for item in gallery.items %}
                    <div class="item" style="background-image: url({{ asset(item.file) }})">
                        <a href="{{ path('gallery_detail', { 'slug': item.slug }) }}">
                            <span class="title">{{ item.title }}</span></a></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
