<form name="order" action="/order" method="post" data-type="post" novalidate>
    <div class="hd">
        <h2>{{ section.title }}</h2>
    </div>
    {# bd #}
    <div class="bd">
        <div class="form-section">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Jméno <span class="label-message">musíte vyplnit</span>
                            <input data-check="fill" autocomplete="off" type="text" name="name" class="form-control" id="name" aria-describedby="name">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="user_name">Příjmení <span class="label-message">musíte vyplnit</span>
                            <input data-check="fill" autocomplete="off" type="text" name="user_name" class="form-control" id="user_name">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">E-mail <span class="label-message">musíte být email</span>
                            <input data-check="email" autocomplete="off" type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="mobil">Telefon <span class="label-message">musíte vyplnit</span>
                            <input data-check="fill" autocomplete="off" type="mobil" name="mobil" class="form-control" id="mobil" aria-describedby="emailHelp">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="date_time_from">Od <span class="label-message">musi byt mensi</span>
                            <input data-check="dateTime" autocomplete="off" id="date_time_from" class="datetimepicker form-control" type='text' name="date_time_from" class="form-control" />
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="date_time_to">Do <span class="label-message">musi byt vetsi</span>
                        <input data-check="dateTime" autocomplete="off" id="date_time_to" class="datetimepicker form-control" type='text' name="date_time_to" class="form-control" />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="players_count">Počet hráčů <span class="label-message">musíte vyplnit</span>
                            <input data-check="fill" type="number" autocomplete="off" name="players_count" class="form-control" id="players_count" placeholder="Počet hráčů">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ft">
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" name="send_order" id="send" class="hdn">
                <span data-onclick="back" id="back" class="btn btn-outline-secondary hdn">Zpět</span>
                <button id="next" type="submit" class="btn btn-primary disabled" disabled>Pokračovat</button>
                <button id="sendOrder" type="submit" class="btn btn-primary hdn">Odeslat</button>
            </div>
        </div>
    </div>
    
    <div class="order-section"></div>
</form>
