<h1>{{ section.title }}</h1>
<h2>Služby</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>
<ul>
    <li>Vybavení až pro 16 hráčů</li>
    <li>Hřiště o velikosti 16 000 m2</li>
    <li>Zapůjčení oblečení, ochranné masky a rukavice</li>
    <li>Nevšední a členité hřiště plné zákopů a překážek</li>
</ul>

<h2>Plac</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>
<ul>
    <li>Vybavení až pro 16 hráčů</li>
    <li>Hřiště o velikosti 16 000 m2</li>
    <li>Zapůjčení oblečení, ochranné masky a rukavice</li>
    <li>Nevšední a členité hřiště plné zákopů a překážek</li>
</ul>


<h2>Výstroj</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam.</p>
<ul>
    <li>Vybavení až pro 16 hráčů</li>
    <li>Hřiště o velikosti 16 000 m2</li>
    <li>Zapůjčení oblečení, ochranné masky a rukavice</li>
    <li>Nevšední a členité hřiště plné zákopů a překážek</li>
</ul>
